.env
api/.env
api/node_modules
api/public/hot
api/public/storage
api/public/build
api/storage/*.key
api/storage/app/legacy/*.json
api/storage/geoip/*.mmdb
api/vendor
api/.env
api/.phpactor.json
api/.phpunit.result.cache
api/Homestead.json
api/Homestead.yaml
api/npm-debug.log
api/yarn-error.log
api/.idea
api/.vscode
api/yay-git
api/cypress/screenshots
api/cypress/videos
api/coverage/
api/backup
api/clover.xml


web/.env
web/logs
web/*.log
web/npm-debug.log*
web/runner-results/*
web/yarn-debug.log*
web/yarn-error.log*
web/pnpm-debug.log*
web/multi-reporter-config.json
web/lerna-debug.log*
web/e2e-coverage/
web/cypress/videos/
web/.scannerwork/
web/cypress/screenshots/
web/cypress.env.json
web/.nyc_output/
web/coverage
web/clover.xml
web/node_modules*
web/.vite
web/dist
web/dist-ssr
web/*.local
web/.vscode/*
web/!.vscode/extensions.json
web/.idea
web/.DS_Store
web/*.suo
web/*.ntvs*
web/*.njsproj
web/*.sln
web/*.sw?
