/node_modules
/public/hot
/public/storage
/public/build
/storage/*.key
/storage/app/legacy/*.json
/storage/geoip/*.mmdb
/vendor
.env
.env.backup
.env.testing
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/yay-git
/cypress/screenshots
/cypress/videos
/coverage/
/backup
clover.xml
susers-sprite.png
