.env
test.Dockerfile
Dockerfile
node_modules
logs
*.log
npm-debug.log*
runner-results/*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
multi-reporter-config.json
lerna-debug.log*
e2e-coverage/
cypress/videos/
.scannerwork/
cypress/screenshots/
.nyc_output/
stats.html
coverage
clover.xml
.vite
dist-ssr
*.local
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
