.env
# Logs
logs
*.log
npm-debug.log*
runner-results/*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
multi-reporter-config.json
lerna-debug.log*

e2e-coverage/
cypress/videos/
.scannerwork/
cypress/screenshots/
cypress.env.json
.nyc_output/
coverage
clover.xml
node_modules
.vite
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
.editorconfig
test-results/
playwright-report/

*.sw?
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
