{
  "semi": false,
  "singleQuote": true,
  "arrowParens": "avoid",
  "printWidth": 80,
  "tabWidth": 2,
  "trailingComma": "none",
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "options": {
        "arrowParens": "avoid",
        "bracketSpacing": true,
        "singleQuote": true,
        "trailingComma": "none",
        "bracketSameLine": false
      }
    }
  ]
}